  - name: Ensure destination app folder exists
    file:
      path: "{{ dest_app_path }}"
      state: directory


  - name: Copy PHP application files from source
    synchronize:
      src: "{{ src_app_path }}"
      dest: "{{ dest_app_path}}"
      mode: push
      rsync_opts:
        - "--rsync-path='sudo rsync'"
    delegate_to: src_server
    become: yes
    become_user: root


  - name: Set ownership for bootstrap & storage folders
    file:
      path: "{{ dest_app_path }}/{{ item }}"
      owner: www-data
      group: www-data
      recurse: yes
      state: directory
    loop:
      - bootstrap/cache
      - storage
    become: yes
    become_user: root


  - name: Set permissions for bootstrap & storage folders
    file:
      path: "{{ dest_app_path }}/{{ item }}"
      mode: 'u+rwx,g+rx,o+rx'
      recurse: yes
      state: directory
    loop:
      - bootstrap/cache
      - storage
    become: yes
    become_user: root



    
    
